* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    background-color:#f6f5f3 ;
}

.container {
    padding:0px 20px;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
}

.pb-30 {
    padding-bottom:1rem;
}

/* /COMMON */


header {
    background-color: #ffffff;
}

#logo {
    font-family: 'Nerko One', cursive;
    text-align: center;
    padding: 13px 0px;
    font-size: 3rem;
    color: #ff9614;
    text-transform: uppercase;
    text-shadow: 2px 3px 4px grey;
}


main {
    background-color:#f6f5f3;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

section.summary {
    padding-top:30px;
}

.summary div h2 span {
    display: none;
}

.summary h4 {
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(53, 53, 53, 0.438);
}

.summary h2 {
    color: #4e3969;
    font-weight: 800;
    font-size: 2rem;
}


.recipe-summary-container {
    background-color: #ffffff;
}

.info-text {
    box-shadow:  -1px -3px 13px #888888;
}

.info-text h3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-text ul {
    display: flex;
    flex-direction: column;
    gap:10px
}

.info-text ul li {
    margin-bottom: 10px;
}

.info-text ul li:last-child  {
    font-weight: bold;
}





/***************** RESPONSIVE ********************/
@media screen and (min-width: 768px) {
    #logo {
        text-align: start;
        padding-left:15px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .summary div h2 span  {
        display: inline;
    }

    .recipe-summary-container ul {
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
    }

    .recipe-summary-container ul li {
        width: calc((100% / 3) - 60px);
    }
    

}

@media screen and (min-width: 992px) {

    .container {
        width: 70%;
        margin: 0 auto;
    }
}
/***************** /RESPONSIVE ********************/