* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    background-color:#f6f5f3 ;
}

.container {
    padding:0px 20px;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
    min-height: 100%;
}

.pb-30 {
    padding-bottom:1rem;
}


i.fa-facebook {
    color: #1a77f3;
}
i.fa-twitter {
    color: #009eff;
}
i.fa-instagram {
    color: #dc429a;
}
i.fa-pinterest {
    color: #e62222;
}
i.fa-youtube {
    color: #e62222;
}

/* /COMMON */


header {
    background-color: #ffffff;
}

#logo {
    font-family: 'Nerko One', cursive;
    text-align: center;
    padding: 13px 0px;
    font-size: 3rem;
    color: #ff9614;
    text-transform: uppercase;
    text-shadow: 2px 3px 4px grey;
}


main {
    background-color:#f6f5f3;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

section.summary {
    padding-top:30px;
}

.summary h2 span {
    display: none;
}

.summary h4 {
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(53, 53, 53, 0.438);
}

.summary h2 {
    color: #4e3969;
    font-weight: 800;
    font-size: 2rem;
}

.recipe-summary-container {
    background-color: #ffffff;
}

.info-text {
    box-shadow:  -1px -3px 13px #888888;
    padding-top: 30px;
    padding-left: 30px;
}

.info-text h3 {
    padding-bottom: 40px;
}

.info-text ul {
    display: flex;
    flex-direction: column;
    gap:10px
}

.info-text ul li {
    margin-bottom: 10px;
}

.info-text ul li:last-child  {
    font-weight: bold;
}

section.social {
    margin-top: 50px;
}

.nav-social-container ul {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
}


.nav-social-container ul li {
    background-color: white;
    box-shadow: 1px 5px 15px rgb(205 205 205 / 80%);
    border-radius: 50px;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-social-container ul li strong {
    display: none;
}



/***************** RESPONSIVE ********************/
@media screen and (min-width: 768px) {
    #logo {
        text-align: start;
        padding-left:15px;
    }

    .container {
        max-width: 895px;
        margin: 0 auto;
    }

    .summary h2 {
        font-size: 2.5rem;
    }

     .summary h2 span  {
        display: inline;
    }

    .recipe-summary-container ul {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }

    .recipe-summary-container ul li {
        width: calc((100% / 3) - 60px);
    }
    
    .nav-social-container ul {
        border-radius: 50px;
    }
    
    
    .nav-social-container ul li {
        background-color: white;
        border-radius: 50px;
        padding: 10px 50px;
    }
}

@media screen and (min-width: 992px) {

    .container {
        max-width: 1350px;
        margin: 0 auto;
    }

    .summary h2 {
        font-size: 3rem;
    }

    .recipe-summary-container {
        display: flex;
    }

    .info {
        flex: 4;
    }

    .info-text {
        flex: 2;
    }

    .info-text ul {
        display: column;
        flex-direction: column;
    }

    .info-text ul li {
        width: 100%;
    }

    .nav-social-container ul li strong {
        display: inline;
        padding-left: 20px;
    }

    
}
/***************** /RESPONSIVE ********************/